*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .card{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color:white;
    margin:10px;
    padding:40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color:blue;
    width:33.33%;
  } 
  
  h1{
    color:white;
    font-size:30px !important;
    margin:10px 0;
  }
  img{
    border-radius:50%;
  }
  
  h2{
    color:white;
  }
  p{
    color:white;
    font-weight:500;
  }
  .user{
    display:flex;
  }